header {
  background-color: teal;
  color: white;
  text-align: center;
}

h3 {
  clear: left;
}

section {
  border: 2px solid black;
  width: 100%;
  float: left;
  background-color: wheat;
}

div {
  margin: 5px;
  width: 33%;
  height: 100%;
}

.left {
  float: left;
  background: round;
  background-color: wheat;
  width: fit-content;
}

.middle {
  float: left;
  margin-top: 85px;
  margin-left: 20px;
}

.right {
  float: left;
  margin-left: 50px;
}
